<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comics</title>
</head>
<body>

  <h1>Sign In</h1>
  <form>
    Email: <input type="text" name="existingEmail">
    <br />
    <br />
    Password: <input type="password" name="existingPassword">
  </form>

  <h1>Sign Up</h1>
    <form>
      Email: <input type="text" name="newEmail">
      <br />
      <br />
      Username: <input type="text" name="newUsername">
      <br />
      <br />
      Password: <input type="password" name="newPassword">
      <br />
      <br />
      Confirm Password: <input type="password" name="newConfirmPassword">
  </form>
  
</body>
</html>