<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comics</title>
</head>
<body>

  <h1>Sign In</h1>
  <form>
    Email: <input type="text" name="existingEmail">
    <br />
    <br />
    Password: <input type="password" name="existingPassword">
    <button>Sign In</button>
  </form>

  <h1>Sign Up</h1>
    <form id="signUpForm">
      Email: <input type="text" id="newEmail">
      <br />
      <br />
      Username: <input type="text" id="newUsername">
      <br />
      <br />
      Password: <input type="password" id="newPassword">
      <br />
      <br />
      Confirm Password: <input type="password" id="newConfirmPassword">
      <button type="submit">Sign Up</button>
  </form>

  <div id="emptyFieldsError"></div>
  <div id="passwordMatchError"></div>


</body>
<script src="/js/index.js"></script> 
</html>